# pip install -r requirements.txt
flask
flask-sqlalchemy
flask-migrate
flask-admin
dynaconf
flask-wtf
email_validator
flask-cors
firebase-admin
Pyrebase
Flask-Limiter
flask-marshmallow
marshmallow-sqlalchemy
pyjwt
psycopg2
